{% block about %}
<section id="about" class="text-center border-bottom py-5">

    <div class="col-5 d-inline-block">
        <div class="row">
            <h2 class="d-inline-block mx-2 text-primary lead" >App de notas</h2>
        </div>
        <div class="row my-3">
            <p>Notas es una app de todos</p>
        </div>
    </div>

    <div class="col-5 d-inline-block">
        <div class="my-2">
            <img class="d-inline-block" src="https://via.placeholder.com/150?text=pic-1" alt="pic-1">
        </div>
        <div class="my-2">
            <img class="d-inline-block" src="https://via.placeholder.com/150?text=pic-2" alt="pic-2">
        </div>
    </div>
    
</section>
{% endblock %}
