{% block footer %}
 
<footer class="border-top text-center d-flex align-items-center justify-content-between mx-auto mt-0 px-10 py-5">
    <div class="col-3 d-inline-block">
        <div class="row">
            <img class="d-inline-block mx-auto" src="{{ url_for('static', filename='img/logos/logo-circular-no-bg.png') }}" width="100" alt="logo">
        </div>
        <div class="my-5">
            <h3 class="fs-1-25">Redes Sociales</h3>
            <ul style="padding-left: 0; list-style-type:none;">
                <li><a class="my-btn btn border my-1 d-inline-flex justify-content-around align-items-center" href="#" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/iconos/instagram500x500.png') }}" width="32" alt="instagram">Instagram</a></li>
                <li><a class="my-btn btn border my-1 d-inline-flex justify-content-around align-items-center" href="#" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/iconos/linkedin500x500.png') }}" width="32" alt="linkedin">Linkedin</a></li>
                <li><a class="my-btn btn border my-1 d-inline-flex justify-content-around align-items-center" href="#" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/iconos/github512x512.png') }}" width="32" alt="github">Github</a></li>
            </ul>
        </div>
    </div>

    <div class="col-3 d-inline-block mt-2">
        <div class="my-2">
            <h4>Dirección</h4>
            <p>123 Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="my-2">
            <h4>Email</h4>
            <p><a href="#">email@my-awesome-domain.com</a></p>
        </div>
        <div class="my-2">
            <h4>Teléfono</h4>
            <p><a href="#">(123) 456 789</a></p>
        </div>
    </div>
</footer>

{% endblock %}