<!-- create.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
</head>
<body>
    <h1> Editar Pregunta {{ id }} </h1>

    <form method='post'>

            <b>Pregunta</b> 
            <br>
            <label for="question"><small>Pregunta actual: {{ question }}</small></label>
            <br>
            <input id="question" type="text" name="question"><br>
            
            <br>
            <b>Respuesta</b> 
            <br>
            <label for="answer"><small>Respuesta actual: {{ answer }}</small></label>
            <br>
            <input type="text" name="answer"><br>
            
            <br>
            <input type="submit" name="submit" value="Enviar">
            <input type="reset" name="reset" value="Borrar"><br>
    </form>

    <p>Go to <a href="{{url_for('index')}}">Inicio</a></p>
</body>
</html>