{% extends 'base.html' %}

{% block main %}
    {% for todo in todos %}
        <div class="col-4 mx-auto">
            <div class="card post-it my-2">
                <div class="card-body">
                    <h5 class="card-title">{{ todo[0] }} - {{ todo[1] }}</h5>
                    <p class="card-text">Descripción: {{ todo[2] }}</p>
                    <p class="card-text">Creado: {{ todo[4] }}</p>
                    <!-- añadir edit y delete -->
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

<!-- <a href="{{ url_for('update_todo', todo_id=todo.id) }}" class="btn btn-warning">Editar nota</a>
<a href="{{ url_for('delete_todo', todo_id=todo.id) }}" class="btn btn-danger">Eliminar nota</a> -->