{% extends 'base.html' %}

{% block main %}

<section id="create_todo" class="py-5 d-flex align-items-center">
    <div class="col-6 mx-auto">
        <h2 class="text-white col-10 text-center">Editar Nota {{ todo[0] }}</h2>
        <div class="container col-10 mx-auto justify-content-center">
            <form action="{{ url_for('update_todo', id=todo[0]) }}" method="post">
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Título">
                    <p><small>{{ todo[1] }}</small></p>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Descripción">
                    <p><small>{{ todo[2] }}</small></p>
                </div>
                <div class="form-group">
                    <label for="done" >Estado</label>
                    <select name="done" id="done" class="form-control">
                        <option value="" selected>Elegir opción</option>
                        <option value="0">Pendiente</option>
                        <option value="1">Completado</option>
                    </select>
                    <p><small>{% if todo[3] == 0 %}Pendiente {% else %} Completado{% endif %}</small></p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mx-auto">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}