{% block what_you_can_do %}
<section id="what-you-can-do" class="text-center py-5">
    <h2 class="text-primary">¿Qué puedes hacer?</h2>
    <div class="row justify-content-center">
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3"src="https://via.placeholder.com/150?text=pic-1" alt="1">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3"src="https://via.placeholder.com/150?text=pic-2" alt="2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3"src="https://via.placeholder.com/150?text=pic-3" alt="3">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
    </div>
</section>
{% endblock %}