{% block what_you_can_do %}
<section id="what-you-can-do" style="background-color: #6470BE;" class="text-center py-5">
    <h2 class="text-primary">¿Qué puedes hacer?</h2>
    <div class="row justify-content-center">
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3" src="{{ url_for('static', filename='img/iconos/user.png') }}" width="100" alt="user">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3" src="{{ url_for('static', filename='img/iconos/pen.png') }}" width="100" alt="pen">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
        <div class="col-3">
            <img class="d-inline-block mx-auto my-3" src="{{ url_for('static', filename='img/iconos/mobile.png') }}" width="100" alt="mobile">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quisquam.</p>
        </div>
    </div>
</section>
{% endblock %}